<div>
    <a href="/users/<%= @user.id %>">Go To My Profile</a>
    <a href="/sessions" data-method="delete">Logout</a>
</div>
<h1>Hello, <%= @user.first_name %></h1>
<div>
    <h4>All Shoes for Sale</h4>
    <table>
        <thead>
            <th>Product</th>
            <th>Seller</th>
            <th>Date Posted</th>
            <th>Amount</th>
            <th>Action</th>
        </thead>
        <% for shoe in @shoes %>
            <% if shoe.purchases.empty? %>
                <tr>
                    <td><%= shoe.name %></td>
                    <td><%= shoe.user.first_name %> <%= shoe.user.last_name %></td>
                    <td><%= shoe.created_at.strftime("%B %d, %Y")  %></td>
                    <td>$<%= shoe.price %></td>
                    <% if shoe.user != @user %>
                        <td><a href="/purchase/<%= shoe.id %>" data-method="post">Buy</a></td>
                    <% end %>
                    <% if shoe.user == @user %>
                        <td><a href="/shoes/<%= shoe.id %>" data-method="delete">Remove</a></td>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>
<div>
    <% if flash[:messages] %>
        <% for msg in flash[:messages] %>
            <p><%= msg %></p>
        <% end %>
    <% end %>
</div>